---
const menus = [
{name: "Sejarah", url:"/page/sejarah"},
{name: "Visi Dan Misi", url:"/page/visimisi"},
{name: "Sambutan", url:"/page/sambutan"},
]
---
<footer class="bg-blue-900 text-gray-200 pt-20 pb-8">
  <div class="container">
      <div class="grid lg:grid-cols-6 gap-8">
        <div class="space-y-8 lg:col-span-2">
            <h2 class="text-4xl font-semibold">Brand</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa minus soluta tenetur fugit reprehenderit eligendi.</p>
        </div>
        <div class="lg:col-start-4 space-y-4">
            <h2 class="text-xl font-semibold">Page</h2>
            <ul class="space-y-1">
            {menus?.map( m =>
                <li><a href={m.url}>{m.name}</a></li>
            )}
            </ul>
        </div>
        <div class="space-y-4">
            <h2 class="text-xl font-semibold">Map</h2>
            <ul class="space-y-1">
            {menus?.map( m =>
                <li><a href={m.url}>{m.name}</a></li>
            )}
            </ul>
        </div>
        <div class="space-y-4">
            <h2 class="text-xl font-semibold">Alamat Kami</h2>
            <ul class="space-y-1">
            {menus?.map( m =>
                <li><a href={m.url}>{m.name}</a></li>
            )}
            </ul>
        </div>
      </div>
  </div>
</footer>
